:root {
  --blue-gray80: rgba(52, 55, 65, 1);
  --blue-gray60: rgba(94, 98, 111, 1);
  --x-2-vk-FUB: rgba(74, 119, 255, 1);
  --blue-gray90: rgba(36, 37, 47, 1);
  --trabuddy-alternative: rgba(0, 198, 150, 1);
  --yellow-40: rgba(255, 231, 107, 1);
  --blue-gray40: rgba(193, 197, 207, 1);
  --nephritis-05: rgba(233, 247, 239, 1);
  --pre-16-med-font-family: "Pretendard Variable", Helvetica;
  --pre-16-med-font-weight: 500;
  --pre-16-med-font-size: 16px;
  --pre-16-med-letter-spacing: 0px;
  --pre-16-med-line-height: 150%;
  --pre-16-med-font-style: normal;
  --pre-16-bold-font-family: "Pretendard Variable", Helvetica;
  --pre-16-bold-font-weight: 700;
  --pre-16-bold-font-size: 16px;
  --pre-16-bold-letter-spacing: 0px;
  --pre-16-bold-line-height: 150%;
  --pre-16-bold-font-style: normal;
  --pre-14-bold-font-family: "Pretendard Variable", Helvetica;
  --pre-14-bold-font-weight: 700;
  --pre-14-bold-font-size: 14px;
  --pre-14-bold-letter-spacing: 0px;
  --pre-14-bold-line-height: 150%;
  --pre-14-bold-font-style: normal;
}
